################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/client/bin/Debug/netcoreapp2.1
/client/obj
/.vs
/client/bin/Release/netcoreapp2.1
/client/client.csproj.user
/client/Properties/PublishProfiles
/apiProxy/bin/Debug/netstandard2.0
/apiProxy/obj/Debug/netstandard2.0
/apiProxy/obj
