@model IEnumerable<apiProxy.Models.MediaText>
@{
    ViewData["Title"] = "PopularText";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-inner" id="popularSearch">
    <h5>Popular Text</h5>
    <div class="input-group input-group-search">
        <div class="input-group-prepend">
            <span class="input-group-text"><span class="oi oi-magnifying-glass"></span></span>
        </div><input type="text" class="form-control" aria-label="Search"
                     placeholder="Search more" v-model="searchTextWithinTitle" v-on:keyDown="searchWithinTitle">
    </div>

    <div class="list-group list-group-bordered mb-3">
        @foreach (var result in Model)
        {
            <a href="#" class="list-group-item list-group-item-action">
                <div class="list-group-item-figure">
                    <div class="tile bg-success">
                        <span class="fas fa-quote-right"></span>
                    </div>
                </div>
                <div class="list-group-item-body">@result.text</div>
            </a>
        }
    </div>
    <div class="list-group list-group-bordered mb-3" v-if="searchWithinTitleResult.length > 0">
        <h6>Search results for "{{searchTextWithinTitle}}" </h6>
        <a href="#" class="list-group-item list-group-item-action" v-for="item in searchWithinTitleResult">
            <div class="list-group-item-figure">
                <div class="tile bg-success">
                    <span class="fas fa-quote-right"></span>
                </div>
            </div>
            <div class="list-group-item-body">{{item.text}}</div>
        </a>
    </div>
</div>
