@using client.Extensions
@model MediaSearchResult
@{
    ViewData["Title"] = $"Search Results for {Model.MediaName}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card" id="popularSearch">
    <div class="card-body">
        <h5>Search Results</h5>
        <div class="list-group list-group-bordered mb-3">
            @foreach (var result in Model.Results)
            {
                <a href="~/@UrlExtensions.GetPopularQuotesUrl(result)" class="list-group-item list-group-item-action">
                   
                        <div class="list-group-item-figure">
                            <div class="tile bg-@(Convert.ToBoolean(result["isPartofFavorite"]) == true ? "success" : "danger")">
                                <span class="fas fa-@(Convert.ToInt32(result["season"]) > 0 ? "tv" : "film")"></span>
                            </div>
                        </div>
                   
                    <div class="list-group-item-body">@result["name"]</div>
                </a>
            }
        </div>
    </div>
</div>